# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# your code here
customer_spent = orders.groupby(['CustomerID'])[['amount_spent','Quantity']].agg('sum')
customer_spent.head()

            amount_spent  Quantity
CustomerID
12346           77183.60     74215
12347            4310.00      2458
12348            1797.24      2341
12349            1757.55       631
12350             334.40       197

In [4]:
def quantile_spent(x):
    return customer_spent[customer_spent['amount_spent'] > customer_spent['amount_spent'].quantile(x)]['amount_spent']

quantile_spent(0.90).head()

CustomerID
12346    77183.60
12347     4310.00
12357     6207.67
12359     6372.58
12362     5226.23
Name: amount_spent, dtype: float64

In [5]:
#Definimos los VIP por encima del p90 y preferred por encima del p75

p90 = customer_spent['amount_spent'].quantile(0.9)
p75 = customer_spent['amount_spent'].quantile(0.75)

def customer_label(x):
    if x > p90:
        return 'VIP'
    elif x > p75:
        return 'Preferred'
    else:
        return 'Cutre'

customer_spent['customer_type'] = customer_spent['amount_spent'].apply(customer_label)
customer_spent.head()

            amount_spent  Quantity customer_type
CustomerID
12346           77183.60     74215           VIP
12347            4310.00      2458           VIP
12348            1797.24      2341     Preferred
12349            1757.55       631     Preferred
12350             334.40       197         Cutre

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [6]:
# your code here
orders=orders.join(customer_spent['customer_type'],on = 'CustomerID')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,customer_type
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,VIP
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,VIP
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,VIP
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,VIP
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,VIP

In [14]:
orders.groupby(['Country','customer_type']).agg('count')

                                    Unnamed: 0  InvoiceNo  StockCode    year  \
Country              customer_type
Australia            Cutre                 157        157        157     157
                     Preferred             130        130        130     130
                     VIP                   898        898        898     898
Austria              Cutre                 240        240        240     240
                     Preferred             137        137        137     137
                     VIP                    21         21         21      21
Bahrain              Cutre                  17         17         17      17
Belgium              Cutre                 474        474        474     474
                     Preferred             877        877        877     877
                     VIP                   680        680        680     680
Brazil               Cutre                  32         32         32      32
Canada               Cutre                  16         16         16      16
                     Preferred             135        135        135     135
Channel Islands      Cutre                 159        159        159     159
                     Preferred             225        225        225     225
                     VIP                   364        364        364     364
Cyprus               Cutre                 163        163        163     163
                     Preferred             203        203        203     203
                     VIP                   248        248        248     248
Czech Republic       Cutre                  25         25         25      25
Denmark              Cutre                 163        163        163     163
                     Preferred             105        105        105     105
                     VIP                   112        112        112     112
EIRE                 VIP                  7238       7238       7238    7238
European Community   Cutre                  60         60         60      60
Finland              Cutre                 181        181        181     181
                     Preferred             173        173        173     173
                     VIP                   331        331        331     331
France               Cutre                2041       2041       2041    2041
                     Preferred            1190       1190       1190    1190
...                                        ...        ...        ...     ...
Malta                Cutre                  45         45         45      45
                     Preferred              67         67         67      67
Netherlands          Cutre                 283        283        283     283
                     VIP                  2080       2080       2080    2080
Norway               Cutre                  44         44         44      44
                     Preferred             270        270        270     270
                     VIP                   758        758        758     758
Poland               Cutre                 181        181        181     181
                     VIP                   149        149        149     149
Portugal             Cutre                 369        369        369     369
                     Preferred             412        412        412     412
                     VIP                   681        681        681     681
RSA                  Cutre                  58         58         58      58
Saudi Arabia         Cutre                   9          9          9       9
Singapore            VIP                   222        222        222     222
Spain                Cutre                 916        916        916     916
                     Preferred              63         63         63      63
                     VIP                  1506       1506       1506    1506
Sweden               Cutre                 178        178        178     178
                     Preferred              75         75         75      75
                     VIP                   198        198        198     198
Switzerland          Cutre                 472        472        472     472
                     Preferred             342        342        342     342
                     VIP                  1028       1028       1028    1028
USA                  Cutre                 179        179        179     179
United Arab Emirates Cutre                  68         68         68      68
United Kingdom       Cutre              132710     132710     132710  132710
                     Preferred           90138      90138      90138   90138
                     VIP                131497     131497     131497  131497
Unspecified          Cutre                 244        244        244     244

                                     month     day    hour  Description  \
Country              customer_type
Australia            Cutre             157     157     157          157
                     Preferred         130     130     130          130
                     VIP               898     898     898          898
Austria              Cutre             240     240     240          240
                     Preferred         137     137     137          137
                     VIP                21      21      21           21
Bahrain              Cutre              17      17      17           17
Belgium              Cutre             474     474     474          474
                     Preferred         877     877     877          877
                     VIP               680     680     680          680
Brazil               Cutre              32      32      32           32
Canada               Cutre              16      16      16           16
                     Preferred         135     135     135          135
Channel Islands      Cutre             159     159     159          159
                     Preferred         225     225     225          225
                     VIP               364     364     364          364
Cyprus               Cutre             163     163     163          163
                     Preferred         203     203     203          203
                     VIP               248     248     248          248
Czech Republic       Cutre              25      25      25           25
Denmark              Cutre             163     163     163          163
                     Preferred         105     105     105          105
                     VIP               112     112     112          112
EIRE                 VIP              7238    7238    7238         7238
European Community   Cutre              60      60      60           60
Finland              Cutre             181     181     181          181
                     Preferred         173     173     173          173
                     VIP               331     331     331          331
France               Cutre            2041    2041    2041         2041
                     Preferred        1190    1190    1190         1190
...                                    ...     ...     ...          ...
Malta                Cutre              45      45      45           45
                     Preferred          67      67      67           67
Netherlands          Cutre             283     283     283          283
                     VIP              2080    2080    2080         2080
Norway               Cutre              44      44      44           44
                     Preferred         270     270     270          270
                     VIP               758     758     758          758
Poland               Cutre             181     181     181          181
                     VIP               149     149     149          149
Portugal             Cutre             369     369     369          369
                     Preferred         412     412     412          412
                     VIP               681     681     681          681
RSA                  Cutre              58      58      58           58
Saudi Arabia         Cutre               9       9       9            9
Singapore            VIP               222     222     222          222
Spain                Cutre             916     916     916          916
                     Preferred          63      63      63           63
                     VIP              1506    1506    1506         1506
Sweden               Cutre             178     178     178          178
                     Preferred          75      75      75           75
                     VIP               198     198     198          198
Switzerland          Cutre             472     472     472          472
                     Preferred         342     342     342          342
                     VIP              1028    1028    1028         1028
USA                  Cutre             179     179     179          179
United Arab Emirates Cutre              68      68      68           68
United Kingdom       Cutre          132710  132710  132710       132710
                     Preferred       90138   90138   90138        90138
                     VIP            131497  131497  131497       131497
Unspecified          Cutre             244     244     244          244

                                    Quantity  InvoiceDate  UnitPrice  \
Country              customer_type
Australia            Cutre               157          157        157
                     Preferred           130          130        130
                     VIP                 898          898        898
Austria              Cutre               240          240        240
                     Preferred           137          137        137
                     VIP                  21           21         21
Bahrain              Cutre                17           17         17
Belgium              Cutre               474          474        474
                     Preferred           877          877        877
                     VIP                 680          680        680
Brazil               Cutre                32           32         32
Canada               Cutre                16           16         16
                     Preferred           135          135        135
Channel Islands      Cutre               159          159        159
                     Preferred           225          225        225
                     VIP                 364          364        364
Cyprus               Cutre               163          163        163
                     Preferred           203          203        203
                     VIP                 248          248        248
Czech Republic       Cutre                25           25         25
Denmark              Cutre               163          163        163
                     Preferred           105          105        105
                     VIP                 112          112        112
EIRE                 VIP                7238         7238       7238
European Community   Cutre                60           60         60
Finland              Cutre               181          181        181
                     Preferred           173          173        173
                     VIP                 331          331        331
France               Cutre              2041         2041       2041
                     Preferred          1190         1190       1190
...                                      ...          ...        ...
Malta                Cutre                45           45         45
                     Preferred            67           67         67
Netherlands          Cutre               283          283        283
                     VIP                2080         2080       2080
Norway               Cutre                44           44         44
                     Preferred           270          270        270
                     VIP                 758          758        758
Poland               Cutre               181          181        181
                     VIP                 149          149        149
Portugal             Cutre               369          369        369
                     Preferred           412          412        412
                     VIP                 681          681        681
RSA                  Cutre                58           58         58
Saudi Arabia         Cutre                 9            9          9
Singapore            VIP                 222          222        222
Spain                Cutre               916          916        916
                     Preferred            63           63         63
                     VIP                1506         1506       1506
Sweden               Cutre               178          178        178
                     Preferred            75           75         75
                     VIP                 198          198        198
Switzerland          Cutre               472          472        472
                     Preferred           342          342        342
                     VIP                1028         1028       1028
USA                  Cutre               179          179        179
United Arab Emirates Cutre                68           68         68
United Kingdom       Cutre            132710       132710     132710
                     Preferred         90138        90138      90138
                     VIP              131497       131497     131497
Unspecified          Cutre               244          244        244

                                    CustomerID  amount_spent
Country              customer_type
Australia            Cutre                 157           157
                     Preferred             130           130
                     VIP                   898           898
Austria              Cutre                 240           240
                     Preferred             137           137
                     VIP                    21            21
Bahrain              Cutre                  17            17
Belgium              Cutre                 474           474
                     Preferred             877           877
                     VIP                   680           680
Brazil               Cutre                  32            32
Canada               Cutre                  16            16
                     Preferred             135           135
Channel Islands      Cutre                 159           159
                     Preferred             225           225
                     VIP                   364           364
Cyprus               Cutre                 163           163
                     Preferred             203           203
                     VIP                   248           248
Czech Republic       Cutre                  25            25
Denmark              Cutre                 163           163
                     Preferred             105           105
                     VIP                   112           112
EIRE                 VIP                  7238          7238
European Community   Cutre                  60            60
Finland              Cutre                 181           181
                     Preferred             173           173
                     VIP                   331           331
France               Cutre                2041          2041
                     Preferred            1190          1190
...                                        ...           ...
Malta                Cutre                  45            45
                     Preferred              67            67
Netherlands          Cutre                 283           283
                     VIP                  2080          2080
Norway               Cutre                  44            44
                     Preferred             270           270
                     VIP                   758           758
Poland               Cutre                 181           181
                     VIP                   149           149
Portugal             Cutre                 369           369
                     Preferred             412           412
                     VIP                   681           681
RSA                  Cutre                  58            58
Saudi Arabia         Cutre                   9             9
Singapore            VIP                   222           222
Spain                Cutre                 916           916
                     Preferred              63            63
                     VIP                  1506          1506
Sweden               Cutre                 178           178
                     Preferred              75            75
                     VIP                   198           198
Switzerland          Cutre                 472           472
                     Preferred             342           342
                     VIP                  1028          1028
USA                  Cutre                 179           179
United Arab Emirates Cutre                  68            68
United Kingdom       Cutre              132710        132710
                     Preferred           90138         90138
                     VIP                131497        131497
Unspecified          Cutre                 244           244

[77 rows x 13 columns]

In [21]:
count_vips = orders[orders.customer_type=='VIP'].groupby(['Country'])['customer_type'].agg('count')

In [22]:
count_vips.sort_values(ascending = False).head(1)

Country
United Kingdom    131497
Name: customer_type, dtype: int64

In [23]:
#Q3 answer
count_preferred = orders[orders.customer_type=='Preferred'].groupby(['Country'])['customer_type'].agg('count')

In [26]:
count=count_vips+count_preferred
count.sort_values(ascending = False).head(1)

Country
United Kingdom    221635.0
Name: customer_type, dtype: float64